.table{
  margin-bottom: 80px;
}
.col *{
  justify-content: center;
}
.verde{
  margin-top: 5%;
  margin-left: 22%;
  max-width: 100%;
}
.amarelo{
  margin-top: 5%;
  margin-left: 14.5%;
  max-width: 100%;
}
.vermelho{
  margin-top: 5%;
  margin-left: 15%;
  max-width: 100%;
}
.FormDiretorP{
  margin-top: 100px;
}
.FormDiretor{
  width: 50%;
  color: black;
}
.deletePoints{
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 38%;
}
h2 {
  text-align: center;
}