h1 {
  text-align: center;
  padding-bottom: 30px;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
nav.navbar{
  margin-top: 0%;
  padding-top: 0%;
}
.col {
  padding-bottom: 100px;
}

.table {
  max-width: 80%;
  text-align: center;
  margin: auto;
}